# Clock
set_io clk 21

# LED pins:
set_io led1 99  # red
set_io led2 98  # red
set_io led3 97  # red
set_io led4 96  # red
set_io led5 95  # green

# PMOD
# Note: pin 5 and 11 are ground, pins 6 and 12 are Vcc
set_io rstn 78 # PIO1_02
set_io button_dp 79 # PIO1_03
set_io button_tx 80 # PIO1_04
set_io PMOD4 81 # PIO1_05
set_io PMOD5 87 # PIO1_06
set_io PMOD6 88 # PIO1_07
set_io PMOD7 90 # PIO1_08
set_io PMOD8 91 # PIO1_09

# FTDI Port B UART
set_io uart_tx 8  # UART TX
set_io uart_rx 9  # UART RX